<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>BLockCure</title>
</head>
<body>
    <div class="card" style = "width: 25vw; margin-top: 10vh;margin-left: 40vw;padding:10px;">
        <h2 class = "card-title text-center user-select-none">Upload</h3>
        <div class = "card-body">
        <form method="post">
          <div class="form-group" style= "padding :5px;">
            <label for="exampleInputEmail1" class="user-select-none">Patient Name</label>
            <input type="text" class="form-control" id="Diag" placeholder="Patient Name" name="pname">
          </div>
          <div class="form-group" style= "padding :5px;">
            <label for="exampleInputEmail1" class="user-select-none">Supervising Doctor</label>
            <input type="text" class="form-control" id="Diag" placeholder="Doctor Name" name="dname">
          </div>
          <div class="form-group" style= "padding :5px;">
            <label for="exampleInputEmail1" class="user-select-none">Diagnosis</label>
            <input type="text" class="form-control" id="Diag" placeholder="Diagnosis" name="diagnosis">
          </div>
          <div class="form-group" style= "padding :5px;">
            <label for="exampleInputPassword1" class="user-select-none">Treatment</label>
            <textarea class = "form-control" id="Treat" name = "treatment" cols="20" rows="6" style> </textarea>
          </div>
          <button type="submit" class="btn btn-outline-primary"style="margin:5px;">Submit</button>
        </form>
      </div>
      </div>
</body>
</html>
