services:
  db:
    image: postgres:alpine
    # container_name: postgres 
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - ${DB_PORT}:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${DB_NAME} -U $${DB_USER}"]
      interval: 10s
      timeout: 30s
      retries: 5
    volumes:
      - ./data/db:/var/lib/postgresql/data
    networks:
      - backend

  db_setup:
    build:
      context: ./DB
    depends_on:
      db:
        condition: service_healthy
    environment:
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_HOST: db
      DB_PORT: 5432
    restart: "no"
    networks:
      - backend

  adminer:
    image: adminer
    restart: always
    ports:
      - 8081:8081
    networks:
      - backend
    
  Backend:
    build:
      context: .
    networks:
      - backend
  
  Frontend:
    build:
      context: ./FRONTEND
    ports:
      - 8080:8080
    depends_on:
      - Backend
    networks:
      - frontend

networks:
  backend:
  frontend: